@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привіт</h1>
    <p>Мій linkedin - <a href="https://www.linkedin.com/in/rvng8117/">для звʼязку пишіть</a>.</p>
</div>

<div class="text-center">
    <h2>Створено CRUD контролери для всіх моделей:</h2>
    <p>Контролери для моделей <strong>Product, Category, Customer</strong> створені з використанням scaffolding.</p>
</div>

<div class="text-center">
    <h2>Додано авторизацію:</h2>
    <p>Налаштовано <strong>ASP.NET Core Identity</strong> для автентифікації та авторизації користувачів.</p>
</div>

<div class="text-center">
    <h2>Обмеження доступу:</h2>
    <p>Всі дії з моделями, окрім перегляду (<strong>Index, Details</strong>), доступні лише для авторизованих користувачів.</p>
</div>

<div class="text-center">
    <h2>Додано валідацію:</h2>
    <p>Атрибути валідації (<strong>[Required], [EmailAddress], [Range]</strong>) додані до моделей.</p>
</div>